<%- include("templates/header") %> 
    <form action='/login' method='GET'>
        <div>Invalid username/passsword combination</div>
        <br>
        <button>Try Again</button>
    </form>
<%- include("templates/footer") %> 
