<%- include("templates/header") %> 
    <h3>Log In</h3>
    <form action='/loggingin' method='post'>
        <input name='email' type='text' placeholder='email'>
        <br>
        <input name='password' type='password' placeholder='password'>
        <br>
        <button>Submit</button>
    </form>
<%- include("templates/footer") %> 
