<%- include("templates/header") %> 
    <form action='/signup' method='GET'>
        <div> <%= (validation) %></div>
        <br>
        <button>Try Again</button>
    </form>
<%- include("templates/footer") %> 

