<%- include("templates/header") %> 
<div class="container text-center">
    <div class="row">
    <form action='/signup' method='GET'>
        <div> <%= (validation) %></div>
        <br>
        <button>Try Again</button>
    </form>
    </div>
    </div>
<%- include("templates/footer") %> 

